<div>
  <button type="button" class="btn btn-dark m-2">
    <a [routerLink]="['/mobile']">Mobiles</a>
  </button>
  <button type="button" class="btn btn-dark m-2">
    <a [routerLink]="['/mobile/moto']">Motorola</a>
  </button>
  <button type="button" class="btn btn-dark m-2">
    <a [routerLink]="['/mobile/moto/10100']">Motorolaid</a>
  </button>
  <button type="button" class="btn btn-dark m-2">
    <a [routerLink]="['/mobile/moto/Iphone']">Motorolaid</a>
  </button>
  <button type="button" class="btn btn-dark m-2">
    <a [routerLink]="['/mobile/samsung']">Samsung</a>
  </button>
</div>
<router-outlet></router-outlet>
