<p>mobiles works!</p>
<ul>
  <h3 class="text-center">{{ title }}</h3>

  <h4 appSimpleStyle>We have total {{ totProds }} products</h4>
  <li
    *ngFor="let mobPart of mobParts"
    class="prods"
    [ngClass]="{ soldOut: mobPart.sold }"
  >
    <p>Product Id: {{ mobPart.prod_id }}</p>
    <p>Product Name: {{ mobPart.prod_name | uppercase }}</p>
    <p *ngIf="0 < mobPart.prodInstock; else outOfStock">
      Product In stock: {{ mobPart.prodInstock }}
    </p>

    <ng-template #outOfStock>
      <p>Out of stock for now</p>
    </ng-template>

    <p>
      Product MRP:
      <s style="color: red"
        ><span style="color: black">{{
          mobPart.prodPrice | currency: "INR"
        }}</span></s
      >
    </p>
    <p>Product Offer: {{ mobPart.prodPrice | offer | currency: "INR" }}</p>

    <p [ngStyle]="{ display: mobPart.veg === true ? 'inline-block' : 'none' }">
      VEG: <img src="../../../assets/img/dot.jfif" width="20px" height="20px" />
    </p>
    <p [ngSwitch]="mobPart.country">
      Country:
      <img
        *ngSwitchCase="'india'"
        src="https://upload.wikimedia.org/wikipedia/en/thumb/b/b9/Flag_of_Australia.svg/23px-Flag_of_Australia.svg.png"
        width="24"
      />
      <img
        *ngSwitchCase="'germany'"
        src="https://upload.wikimedia.org/wikipedia/en/thumb/b/ba/Flag_of_Germany.svg/23px-Flag_of_Germany.svg.png"
        width="24"
      />
      <img
        *ngSwitchCase="'australia'"
        src="https://upload.wikimedia.org/wikipedia/en/thumb/4/41/Flag_of_India.svg/23px-Flag_of_India.svg.png"
        width="24"
      />

      <img
        *ngSwitchDefault
        src="https://cdn2.iconfinder.com/data/icons/world-flag-icons/256/Flag_of_Japan.png"
        width="24"
      />
    </p>
    <p>
      <button type="button" class="btn btn-info" (click)="downQntt(mobPart)">
        remove
      </button>
      <input
        type="text"
        [value]="mobPart.qntt"
        (input)="catchQntt($event)"
        [(ngModel)]="mobPart.qntt"
      />
      {{ mobPart.qntt }}
      <button type="button" class="btn btn-info" (click)="upQntt(mobPart)">
        add
      </button>
    </p>
  </li>
</ul>
