/* You can add global styles to this file, and also import other style files */
.cls {
  height: 450px;
  border: 1px solid silver;
  color: red;
  background-color: lavenderblush;
}

/*#div2 {
  background-image: url(./assets/img/background1.jpg);
  background-size: 100%;
  background-attachment: fixed;
}
#div4 {
  background-image: url(./assets/img/background2.jpg);
  background-size: 100%;
  background-attachment: fixed;
}
#div6 {
  background-image: url(./assets/img/background3.jpg);
  background-size: 100%;
  background-attachment: fixed;
}*/
#div1,
#div7 {
  height: 100px;
}
